__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
*.pyo

.vscode/
.history/

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log

node_modules/
npm-debug.log*

.DS_Store
Thumbs.db

dist/
build/
*.zip
*.tar.gz
*.log
*.tmp
